.navbar {
  max-width: 1200px;
  margin: 20px auto;
  padding: 16px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(34, 39, 174);
  border-radius: 16px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;

   position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: #f0c7dc;
  letter-spacing: 1px;
}

.logo span {
  color: #eff1f4;
}

/* Nav container */
.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ALL LINKS + BUTTONS SAME STYLE */
.nav-links a,
.nav-links button {
  color: #e9eef5;
  font-weight: 600;
  font-size: 14px;

  padding: 8px 14px;
  border-radius: 10px;

  text-decoration: none;
  background: transparent;
  border: none;

  cursor: pointer;
  transition: 0.25s ease;
}

/* Hover for ALL items */
.nav-links a:hover,
.nav-links button:hover {
  background: #eef2ff;
  color: #1e40af;
}

/* Logout (no special styling anymore, just consistent) */
.logout-btn {
  background: transparent;
  color: #374151;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}